* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./images/milky-way-starry-sky-night-sky-star-956999.jpeg);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.eye-div {
    position: relative;
}

.eye {
    position: absolute;
    top: 47%;
    right: 10px;
    cursor: pointer;
}